nav {
    display: flex;
    justify-content: space-between;
    background-color: #071e26;
    border-radius: 10px;
}

body {
    background-color: #353738;
    margin: 0 0;
    padding: 0 0;
    font-family: 'Roboto', sans-serif;

}

div {
    margin: auto;
    margin-top: 8%;
    width: fit-content;
}

input {
    display: block;
    padding: 0px 5px;
    margin: 10px;
    border: none;
    border-bottom: 1px white solid;
    background-color: transparent;
    height: 30px;
}

.container {
    margin: auto;
    margin-top: 2%;

    width: fit-content;
}

input:focus-visible {
    outline: 0;
}

button {
    background-color: transparent;
    border: 1px white solid;
    margin-top: 15%;
    padding: 10px 30px;
    color: white;
    transition: background-color 0.5s;

}

button:hover {
    background-color: #071e26;
}

.Search {
    padding: 10px 10px;
    text-align: center;
    color: white;
}



nav section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    width: 25%;
    font-size: 26px;

}

ul {
    padding: 0 12px;
    margin: 5px 0;
    display: flex;
    justify-content: space-evenly;
}

ul li {
    list-style: none;
    padding: 12px 20px;
    transition: background-color 0.5s;
    border-radius: 20px;
}

ul li:hover {
    background-color: #353738;
}

ul li a {
    text-decoration: none;
    color: white;
}