body{

  background:linear-gradient(135deg,#71b7e6,#b7512c);
  background-repeat: no-repeat;
  height:100vh;


}


nav {
    display: flex;
    justify-content: space-between;
    background-color: #071e26;
    border-radius: 10px;
}

nav section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    width: 25%;
    font-size: 26px;

}

ul {
    padding: 0 12px;
    margin: 5px 0;
    display: flex;
    justify-content: space-evenly;
}

ul li {
    list-style: none;
    padding: 12px 20px;

    border-radius: 20px;
}

ul li:hover {
    background-color: #353738;
}

ul li a {
    text-decoration: none;
    color: white;
}
h2{
  color: white;
}
