#box {
    min-width: 300px;
    height: auto;
    border: 2px solid rgba(255, 255, 255, .5);
    background-color: transparent;
    backdrop-filter: blur(5px);
    border-radius: 3px;
    padding: 10px;
    animation: slide 1s, appear 1s backwards;
}

.search {
    display: flex;
    justify-content: center;
    width: 30vw;
    padding: 10px;
    margin: auto;
}


.search-area {
    max-width: 50%;
    min-height: 25vh;
    margin: auto;
    text-align: center;
    overflow: hidden;
    padding: 10px 10px;
}

h5,
hr {
    animation: resSlide 1s, appear 1s backwards;
}

.result {
    display: flex;
    justify-content: space-evenly;
    /* box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1); */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    margin: 10px;
    animation: resSlide 1s backwards .5s, appear 1s backwards .5s;
}

.name {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

.btn {
    padding: 8px 12% !important;
}

.del {
    margin-left: 5px;
    padding: 8px 8% !important;
    background-color: red !important;
    border: 1px solid red !important;
}