#box {
    min-width: 300px;
    height: auto;
    border: 2px solid rgba(255, 255, 255, .5);
    background-color: transparent;
    backdrop-filter: blur(5px);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 3rem;
    animation: slide 1s, appear 1s backwards;
}

body {
    min-height: 101vh;
}

#contain {
    /* border: 1px solid red; */
    border-radius: 10px;
    overflow: hidden;

}

.head {
    background-color: #2596be !important;
    color: white !important;
    font-weight: bold;
    border-radius: 15px;
}


.result-area {
    width: 80%;
    min-height: 25vh;
    margin: auto;
    text-align: center;
    overflow: hidden;
    padding: 10px 10px;
    background-color: white;
    margin-top: -3rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.result {
    display: flex;
    justify-content: space-evenly;
    /* box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1); */
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    background-color: white;
    padding: 1rem 5px;
    /* border-radius: 15px; */
    animation: resSlide 1s backwards .5s, appear 1s backwards .5s;
}

.gray {

    background-color: #EEE !important;
}

.cell {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}